@import '../../../styles/variables.scss';

.mainLayout {
    width: min(100%, $max-width);

    margin: 0 auto;
    padding-bottom: 100px;
    padding-inline: $padding-mobile;
    background-color: $color-surface;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    @media (min-width: $tablet) {
    padding-inline: $padding-tablet;
    gap: $gap-tablet;
  }
  
  @media (min-width: $desktop) {
    padding-inline: $padding-desktop;
    gap: $gap-desktop;
  }
}